.wrapper {
    display: flex;
    justify-content: space-around;
    height: 50%;
    align-items: center;
    min-height: 50%;
    background-color: #f2f2f2; /* Background color */
}

.inner {
    display: flex;
    width: 80%; /* Occupy the entire width */
    margin: 0 auto; /* Center align the content */
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 700px;
}

.avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ccc;
}

.upload-btn {
    padding: 8px 16px;
    background-color: #46ad40;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .upload-btn:hover {
        background-color: #2980b9;
    }

.form-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-control {
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.save-btn {
    padding: 8px 16px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .save-btn:hover {
        background-color: #219653;
    }

input[type="file"] {
    display: none;
}
