body {
    
}
/*Avatar*/
.card-1{
    border:none;
}
.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: none;
}

.upload-btn {
    padding: 6px 12px;
    background-color: #1A9082;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    Height:40px;
    Width:250px;
}

    .upload-btn:hover {
        background-color: #2980b9;
    }

input[type="file"] {
    display: none;
}

/*input form*/
.form-container {
    width: 700px;
    height: 370px;
    position:relative;
    left: 400px;
    top: -350px;
    padding-left: 2cm;
    padding-right: 2cm;
    background-color: #ffffff;
    padding-top: 5px;
    border-radius: 8px;
    text-align: center;
 
   
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Split the form-group into two columns */
    align-items: center; /* Vertically center-align labels and inputs */
    margin-bottom: 5px;
    padding-left: 0; /* Remove extra padding */
    padding-right: 0; /* Remove extra padding */
}

.label {
    font-weight: bold;
    font-size: 32px; /* Adjust the font size as needed */
    display: block; /* Display labels as block elements */
    margin-bottom: 5px; /* Add spacing between label and input */
}

.form-control {
    flex: 1;
    border: 1px solid #ccc;
    padding: 3px;
    font-size: 32px;
    border-radius: 4px;
    transition: background-color 0.3s;
    width: 100%;
}


/* Add this CSS to your existing styles */

.form-row {
    display: flex;
    justify-content: space-between;
}

    .form-row .form-group {
        flex: 1;
        margin-right: 10px; /* Add space between inputs in a row */
    }

.form-group:last-child {
    margin-right: 0; /* Remove margin for the last input in a row */
}

.container-fluid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.p4{
    font-size:24px;
}
/*Code for the section for which bus*/


/* The container must be positioned relative: */
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

    input[type=text] {
        background-color: #ddd;
        width: 100%;
    }

    input[type=submit] {
        background-color: DodgerBlue;
        color: #fff;
        cursor: pointer;
    }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /* Position the autocomplete items to be the same width as the container: */
    top: 100%;
    left: 0;
    right: 0;
}

    .autocomplete-items div {
        padding: 10px;
        cursor: pointer;
        background-color: #fff;
        border-bottom: 1px solid #d4d4d4;
    }

        /* When hovering an item: */
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }

/* When navigating through the items using the arrow keys: */
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#selected-route {
    margin-top: 10px;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

#myInputDropdown {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    #myInputDropdown:focus {
        outline: 3px solid #ddd;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}
.column {
    float: left;
    width: 25%; /* Adjust the width to control the number of columns */
    padding: 10px;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    clear: both;
    display: table;
}
#button-container {
    text-align: right; /* Aligns the button to the right */
    position: relative; /* Enable relative positioning */
    top: -10px; /* Adjust the top position as needed */
}

#route-button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #1A9082;
    color: #fff;
    border: none;
    cursor: pointer;

}

#routes-container {
    display: none;
}

.route-column {
    width: 25%;
    float: left;
    padding: 10px;
}